@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.txt_bold {
  font-weight: 700;
}

.txt_normal {
  font-weight: 400;
}

.txt_14px {
  font-size: 14px;
}

.txt_uppercase {
  text-transform: uppercase;
}

.txt_line-height26 {
  line-height: 26px;
}

.carousel-item_h2-30px {
  font-size: 30px;
}

.carousel-item_text-txt19px {
  font-size: 19px;
}

.text-align-center {
  text-align: center;
}

a.link {
  text-decoration: none;
}
a.link.nav-link-h_active {
  text-decoration: underline;
}

.nav-link-h {
  color: blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}
@media screen and (min-width: 576px) {
  .nav-link-h {
    color: #ffffff;
  }
}
.nav-link-h:hover {
  color: #f0145a;
}
.nav-link-h_active {
  color: #f0145a;
}

.section-gradient {
  min-height: 100vh;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
  border-radius: 0px 0px 12px 12px;
  position: relative;
}
.section-gradient__shadow {
  height: 10px;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background-color: #cacadb;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #e7e7f2;
}

.main-wrap {
  position: relative;
  min-height: 100vh;
}
.main-wrap-bg {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap-bg__h {
  height: 100%;
}
.main-wrap__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  z-index: 100;
}
.main-wrap__title {
  padding: 0 30px;
  font-size: 38px;
  line-height: 46.32px;
  font-weight: 700;
}
.main-wrap__header {
  margin-top: 50px;
}

.header-grid {
  display: grid;
  grid-template-areas: "info" "logo" "nav";
  color: #ffffff;
  row-gap: 18px;
}
@media screen and (min-width: 768px) {
  .header-grid {
    grid-template-areas: "logo info" "logo nav";
  }
}
.header-grid__logo {
  grid-area: logo;
}
.header-grid__info {
  grid-area: info;
}
.header-grid__nav {
  grid-area: nav;
}

.btn-sm {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-radius: 8px;
}
.btn-sm.active, .btn-sm:hover {
  background-color: red;
}

.navbar-toggler.hlegal-toggler {
  border: none;
}

.adress-item {
  display: flex;
  align-items: center;
}
.adress-item:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #cacadb;
  border-radius: 50%;
  display: inline-block;
  right: 6px;
}

.offcanvas {
  border-radius: 8px 8px 0 0;
}

.btn-circle {
  background-color: transparent;
  color: #ffffff;
  width: 42px;
  height: 42px;
  display: inline-block;
  border: 1px solid #cacadb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-circle__icon {
  font-size: 30px;
}
.btn-circle:hover {
  color: #f0145a;
  border: 1px solid #f0145a;
}

.btn-link-decoration-none {
  text-decoration: none;
}

.icon-wrap {
  width: 92px;
  padding: 14px;
  background-color: #ffffff;
  border-radius: 24px;
}
.icon-wrap_mb30 {
  margin-bottom: 30px;
}

.arrow-right,
.h4.publications-row__title {
  color: #24a3ff;
}

.title_gradient {
  background: var(--gradient-text-red, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1.title_mb60 {
  margin-bottom: 60px;
}

.h1.h1-bold {
  font-weight: 700;
  font-size: 38px;
}

/*section Services*/
.section-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #24a3ff;
}
.section-link:hover, .section-link:hover span {
  color: #f0145a;
}

.services_pt_pb {
  padding: 60px 0;
}

.row-card__title {
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  line-height: 26.82px;
  font-weight: 700;
  color: #24a3ff;
}
.row-card__title:hover {
  color: #f0145a;
}
.row-card__title_mb {
  margin-bottom: 15px;
}

/*section Team*/
.section-team_p {
  padding-top: 60px;
}

.team-row__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-col {
  background-color: #f5f5fa;
}
.text-col__content.team-text-wrap {
  padding: 30px;
}

.team-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: #b3b3ba;
}

.team-position {
  font-size: 14px;
  font-weight: 400;
  line-height: #b3b3ba;
  color: #b3b3ba;
}

/*section Logos*/
.row.rounded-row {
  border-radius: 12px;
  overflow: hidden;
}

.row__logo {
  width: 100%;
}

.section-logos_pt_pb {
  padding: 60px 0;
}

.section-logos__title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 17.07px;
  letter-spacing: 1px;
}
.section-logos__title_color {
  color: #323264;
}

/*section publictions*/
.publications_pt {
  padding-top: 30px;
}

.publications_background {
  background-color: #f5f5fa;
}

.h1.title_mb30 {
  margin-bottom: 30px;
}

.publications-row__card {
  background-color: white;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.publications-row__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.publications-row__date {
  font-size: 12px;
  font-weight: 700;
  color: #b3b3ba;
  line-height: 14.63px;
  letter-spacing: 1px;
}
.publications-row__content {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}

.txt-wrap.publications-row__txt {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.border-line {
  width: 100%;
  height: 4px;
  background-color: #e6e6f0;
}

.grey-line {
  width: 100%;
  height: 2px;
  background-color: #e6e6f0;
}
.grey-line_m {
  margin-top: 30px;
}

.column_pading-top {
  padding-top: 30px;
}
@media screen and (min-width: 992px) {
  .column_pading-top {
    padding-top: 0;
  }
}

.column_pading-top-md {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .column_pading-top-md {
    padding-top: 0;
  }
}

/*footer*/
.footer_background {
  background-color: #f5f5fa;
}

.footer_p {
  padding: 30px 0;
}

.footer-address__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #24a3ff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 1px;
}
.footer-address__link:hover {
  color: #f0145a;
}
.footer-address__link:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  display: inline-block;
  right: 8px;
}

.footer-tell-nmbr:before,
.footer-email:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  display: inline-block;
  right: 8px;
}

.footer-contacts__item.footer-tell-nmbr,
.footer-contacts__item.footer-email {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}

.footer-email__link {
  text-decoration: none;
  color: #24a3ff;
}
.footer-email__link:hover {
  color: #f0145a;
}

.footer-address__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #b3b3ba;
}

.flex-wrap {
  flex-wrap: wrap;
}

.footer-first-row.d-flex {
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container-lg.flex-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .footer-first-row.d-flex {
    justify-content: center;
  }
}
/* change container paddings*/
@media screen and (max-width: 992px) {
  .container-lg.container-no-padings {
    padding: 0;
  }
  .row.rounded-row.rounded-row-none-lg {
    border-radius: 0;
  }
}
.container-lg.container-paddings {
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .container-lg.container-paddings {
    padding: 0 60px;
  }
}

.carousel-inner.carousel-inner-container {
  padding: 30px 30px 0 30px;
}
@media screen and (min-width: 768px) {
  .carousel-inner.carousel-inner-container {
    padding: 0 60px;
  }
}

/*Services page*/
.navbar-brand-link.services-logo {
  text-decoration: none;
  font-size: 36px;
  line-height: 43.88px;
  color: #ffffff;
}

.services-page-logo {
  display: flex;
  align-items: start;
}

/*Service entry page*/
.section-gradient_mb-60 {
  margin-bottom: 80px;
}

.divider_grey {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 30px;
}

.row-mb_60.row {
  padding-bottom: 60px;
}

.services-main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.button-main {
  background-color: #24a3ff;
  padding: 18px 30px;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5019607843);
}
.button-main:hover {
  color: #f0145a;
}

p.service-description {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
}

.h3.fs-22px {
  font-size: 22px;
}

.row-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.row-list__item {
  font-size: 18px;
  line-height: 26px;
}

ul.row-list {
  list-style-image: url(../Assets/Images/Services/Dot_separator.svg);
}

.carousel-indicators.carousel-indicators-h {
  position: relative;
  margin: 0;
  flex-direction: column;
  align-items: end;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3019607843);
  border-right: none;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .carousel-indicators.carousel-indicators-h {
    border-right: 4px solid rgba(255, 255, 255, 0.3019607843);
    border-bottom: none;
    padding-right: 60px;
  }
}

.carousel-indicators.carousel-indicators-h [data-bs-target] {
  text-indent: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 38px;
  font-weight: 700;
  color: var(--grey-text, #b3b3ba);
  text-align: right;
  white-space: nowrap;
}
.carousel-indicators.carousel-indicators-h [data-bs-target].active {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-indicators__btn {
  max-width: 100%;
  display: flex;
  align-items: end;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
}
@media screen and (min-width: 768px) {
  .carousel-indicators__btn {
    flex-direction: column;
    max-width: 375px;
    gap: 0;
  }
}

.carousel.slide {
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .carousel.slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

.carousel-inner {
  padding-left: 0px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .carousel-inner {
    padding-left: 60px;
    padding-top: 0px;
  }
}

.carousel-sliders_pt60 {
  padding-top: 60px;
}