.carousel-indicators.carousel-indicators-h {
  position: relative;
  margin: 0;
  flex-direction: column;
  align-items: end;
  border-bottom: 4px solid #ffffff4d;
  border-right: none;
  padding-right: 0;

  @media screen and (min-width: $md) {
    border-right: 4px solid #ffffff4d;
    border-bottom: none;
    padding-right: 60px;
  }
}

.carousel-indicators.carousel-indicators-h [data-bs-target] {
  text-indent: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 38px;
  font-weight: 700;
  color: var(--grey-text, #b3b3ba);
  text-align: right;
  white-space: nowrap;
  &.active {
    background: var(
      --gradient-text-red-reversed,
      linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.carousel-indicators__btn {
  max-width: 100%;
  display: flex;
  align-items: end;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
  @media screen and (min-width: $md) {
    flex-direction: column;
    max-width: 375px;
    gap: 0;
  }
}
.carousel.slide {
  grid-template-columns: 100%;
  @media screen and (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.carousel-inner {
  padding-left: 0px;
  padding-top: 60px;
  @media screen and (min-width: $md) {
    padding-left: 60px;
    padding-top: 0px;
  }
}
.carousel-sliders_pt60 {
  padding-top: 60px;
}

