$rounded-bottom: 0px 0px 12px 12px;
$grey1: #cacadb;
$grey2: #e7e7f2;
$grey-bg: #f5f5fa;
$grey-separator: #e6e6f0;
$accent: #f0145a;
$active-regular: #24a3ff;
$main-regular: #323264;
$grey-text: #b3b3ba;
$basic-black: #000000;
$white: #ffffff;
$lg: 992px;
$md: 768px;
$sm: 576px;
$txt30px: 30px;
$txt19px: 19px;
$txt14px: 14px;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}
.txt_bold {
  font-weight: 700;
}
.txt_normal {
  font-weight: 400;
}
.txt_14px {
  font-size: 14px;
}
.txt_uppercase {
  text-transform: uppercase;
}
.txt_line-height26 {
  line-height: 26px;
}
.carousel-item_h2-30px {
  font-size: $txt30px;
}
.carousel-item_text-txt19px {
  font-size: 19px;
}
.text-align-center {
  text-align: center;
}

a.link {
  text-decoration: none;
  &.nav-link-h_active {
    text-decoration: underline;
  }
}
.nav-link-h {
  color: blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  @media screen and (min-width: $sm) {
    color: $white;
  }
  &:hover {
    color: $accent;
  }
  &_active {
    color: $accent;
  }
}

.section-gradient {
  min-height: 100vh;
  background: var(
    --gradient-supersoft,
    linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%)
  );
  border-radius: $rounded-bottom;
  position: relative;
  &__shadow {
    height: 10px;
    position: absolute;
    width: 100%;
    border-radius: $rounded-bottom;
    &--1 {
      bottom: -10px;
      width: calc(100% - 40px);
      left: 20px;
      background-color: $grey1;
    }
    &--2 {
      bottom: -20px;
      width: calc(100% - 80px);
      left: 40px;
      background-color: $grey2;
    }
  }
}
.main-wrap {
  position: relative;
  min-height: 100vh;
  &-bg {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    &__h {
      height: 100%;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    z-index: 100;
  }
  &__title {
    padding: 0 30px;
    font-size: 38px;
    line-height: 46.32px;
    font-weight: 700;
  }
  &__header {
    margin-top: 50px;
  }
}
.header-grid {
  display: grid;
  grid-template-areas: "info" "logo" "nav";
  color: $white;
  row-gap: 18px;
  column-gap: 15px;
  @media screen and (min-width: $md) {
    grid-template-areas: "logo info" "logo nav";
  }
  &__logo {
    grid-area: logo;
  }
  &__info {
    grid-area: info;
  }
  &__nav {
    grid-area: nav;
  }
}
.btn {
  &-sm {
    background-color: transparent;
    border: none;
    color: $white;
    border-radius: 8px;
    &.active,
    &:hover {
      background-color: red;
    }
  }
}
.navbar-toggler.hlegal-toggler {
  border: none;
}
.adress-item {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    position: relative;
    height: 6px;
    width: 6px;
    background-color: $grey1;
    border-radius: 50%;
    display: inline-block;
    right: 6px;
  }
}
.offcanvas {
  border-radius: 8px 8px 0 0;
}
.btn-circle {
  background-color: transparent;
  color: $white;
  width: 42px;
  height: 42px;
  display: inline-block;
  border: 1px solid $grey1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__icon {
    font-size: 30px;
  }
  &:hover {
    color: $accent;
    border: 1px solid $accent;
  }
}
.btn-link-decoration-none {
  text-decoration: none;
}

.icon-wrap {
  width: 92px;
  padding: 14px;
  background-color: $white;
  border-radius: 24px;
  &_mb30 {
    margin-bottom: 30px;
  }
}

.arrow-right,
.h4.publications-row__title {
  color: $active-regular;
}

.title_gradient {
  background: var(
    --gradient-text-red,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h1.title_mb60 {
  margin-bottom: 60px;
}
.h1.h1-bold {
  font-weight: 700;
  font-size: 38px;
}

/*section Services*/

.section-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: $active-regular;
  &:hover,
  &:hover span {
    color: $accent;
  }
}

.services_pt_pb {
  padding: 60px 0;
}
.row-card {
  &__title {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    line-height: 26.82px;
    font-weight: 700;
    color: $active-regular;
    &:hover {
      color: $accent;
    }
    &_mb {
      margin-bottom: 15px;
    }
  }
}

/*section Team*/

.section-team_p {
  padding-top: 60px;
}
.team-row {
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.text-col {
  background-color: $grey-bg;
  &__content.team-text-wrap {
    padding: 30px;
  }
}
.team-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: $grey-text;
}
.team-position {
  font-size: 14px;
  font-weight: 400;
  line-height: #b3b3ba;
  color: $grey-text;
}
/*section Logos*/

.row.rounded-row {
  border-radius: 12px;
  overflow: hidden;
}

.row__logo {
  width: 100%;
}
.section-logos_pt_pb {
  padding: 60px 0;
}

.section-logos__title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 17.07px;
  letter-spacing: 1px;
  &_color {
    color: $main-regular;
  }
}
/*section publictions*/

.publications_pt {
  padding-top: 30px;
}
.publications_background {
  background-color: $grey-bg;
}
.h1.title_mb30 {
  margin-bottom: 30px;
}
.publications-row {
  &__card {
    background-color: white;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  &__date {
    font-size: 12px;
    font-weight: 700;
    color: $grey-text;
    line-height: 14.63px;
    letter-spacing: 1px;
  }
  &__content {
    font-size: 14px;
    font-weight: 400;
    color: $basic-black;
    line-height: 22px;
  }
  &__link {
    text-decoration: none;
  }
}
.txt-wrap.publications-row__txt {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.border-line {
  width: 100%;
  height: 4px;
  background-color: $grey-separator;
}
.grey-line {
  width: 100%;
  height: 2px;
  background-color: $grey-separator;
  &_m {
    margin-top: 30px;
  }
}
.column_pading-top {
  padding-top: 30px;
  @media screen and (min-width: $lg) {
    padding-top: 0;
  }
}
.column_pading-top-md {
  padding-top: 30px;
  @media screen and (min-width: $md) {
    padding-top: 0;
  }
}

/*footer*/
.footer_background {
  background-color: $grey-bg;
}
.footer_p {
  padding: 30px 0;
}
.footer-address__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $active-regular;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 1px;
  &:hover {
    color: $accent;
  }
  &:before {
    content: "";
    position: relative;
    height: 6px;
    width: 6px;
    background-color: $grey-text;
    border-radius: 50%;
    display: inline-block;
    right: 8px;
  }
}
.footer-tell-nmbr:before,
.footer-email:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: $grey-text;
  border-radius: 50%;
  display: inline-block;
  right: 8px;
}
.footer-contacts__item.footer-tell-nmbr,
.footer-contacts__item.footer-email {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}
.footer-email {
  &__link {
    text-decoration: none;
    color: $active-regular;
  }
  &__link:hover {
    color: $accent;
  }
}

.footer-address__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}
.footer-copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: $grey-text;
}
.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: $md) {
  /*.container-lg.flex-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
  }*/

  .footer-first-row.d-flex {
    justify-content: center;
  }
  .footer-contacts {
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-first-row.footer-grid__address {
    margin-bottom: 21px;
  }
}

.footer-grid {
  display: grid;
  grid-template-areas: "address" "contacts" "copyright";
  @media screen and (min-width: $md) {
    grid-template-areas: "address copyright" "contacts contacts";
    row-gap: 21px;
  }
  &__address {
    grid-area: address;
  }
  &__copyright {
    grid-area: copyright;
  }
  &__contacts {
    grid-area: contacts;
  }
}
@media screen and (min-width: $md) {
    .footer-copyright {
        text-align: right;
    }
   
}

/* change container paddings*/

@media screen and (max-width: $lg) {
  .container-lg.container-no-padings {
    padding: 0;
  }
  .row.rounded-row.rounded-row-none-lg {
    border-radius: 0;
  }
}

.container-lg.container-paddings {
  padding: 0 30px;

  @media screen and (min-width: $md) {
    padding: 0 60px;
  }
}
.carousel-inner.carousel-inner-container {
  padding: 30px 30px 0 30px;

  @media screen and (min-width: $md) {
    padding: 0 60px;
  }
}

/*Services page*/
.navbar-brand-link.services-logo {
  text-decoration: none;
  font-size: 36px;
  line-height: 43.88px;
  color: $white;
}
.services-page-logo {
  display: flex;
  align-items: start;
}

/*Service entry page*/
.section-gradient_mb-60 {
  margin-bottom: 80px;
}
.divider_grey {
  width: 100%;
  height: 4px;
  background-color: #ffffff80;
  margin-bottom: 30px;
}
.row-mb_60.row {
  padding-bottom: 60px;
}
.services-main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.button-main {
  background-color: $active-regular;
  padding: 18px 30px;
  border: none;
  border-radius: 12px;
  color: $white;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #24a3ff80;
  &:hover {
    color: $accent;
  }
}
p.service-description {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
}
.h3.fs-22px {
  font-size: 22px;
}
.row-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__item {
    font-size: 18px;
    line-height: 26px;
  }
}

ul.row-list {
  list-style-image: url(../Assets/Images/Services/Dot_separator.svg);
}
